<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- Database details : Créer la base de donnée vierge avant de lancer le code et hibernate se chargera de générer les tables -->
	<bean id="dbBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springresthibernate3?serverTimezone=UTC" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<!-- Hibernate session factory -->
	<bean id="sfBean"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dbBean" />
		<property name="annotatedClasses">
			<array>
                                <value>com.spring.rest.component.Country</value>                                
                                <value>com.spring.rest.component.Address</value>
                                <value>com.spring.rest.component.Article</value>
                                <value>com.spring.rest.component.Author</value>
                                <value>com.spring.rest.component.AuthorId</value>
                                <value>com.spring.rest.component.Book</value>
                                <value>com.spring.rest.component.Conference</value>
                                <value>com.spring.rest.component.InBook</value>
                                <value>com.spring.rest.component.Manuel</value>
                                <value>com.spring.rest.component.Members</value>
                                <value>com.spring.rest.component.MpThesis</value>
                                <value>com.spring.rest.component.Proceeding</value>
                                <value>com.spring.rest.component.Project</value>
                                <value>com.spring.rest.component.Publications</value>
                                <value>com.spring.rest.component.PublicationType</value>
                                <value>com.spring.rest.component.State</value>
                                <value>com.spring.rest.component.TechReport</value>
			</array>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sfBean" />
		<property name="checkWriteOperations" value="false" />
	</bean>
</beans>